language: node_js
node_js:
  - "4"
  - "7"

#branches:
#  only:
#    - master

script:
  - npm run-script cover

after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
